body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/Feedback_Management_System/New folder/s3.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.wrapper {
    width: 500px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
}
.wrapper h1,h2 {
    font-size: 32px;
    text-align: center;
    background-color: #c0c0c0;
    margin-bottom: 30px;
}
.input-box {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    color: #ffffff;
}

.input-box button {
    width: 100%;
    height: 50px;
    background-color: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.input-box i {
    position: absolute;
    right: 1px;
    top: 80%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
}

